{% extends "base.html" %}

{% block content %}
    <h1><b>Create New Artist</b></h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre(size=32) }}
        </p>
        <p>
            {{ form.hometown.label }}<br>
            {{ form.hometown(size=32) }}
        </p>
        <p>
            {{ form.bio.label }}<br>
            {{ form.bio(size=100) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}}